<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProcessNameToAttchTo" value="myProgram"/>
    <add key="OutputDir" value=""/>
    <add key="NumberOfSamplesForPerformance" value="20"/>
    <add key="TimeBetweenSamplesForPerformance" value="200"/>
  </appSettings>
</configuration>